.button-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	animation: span1 2s linear infinite;
    animation-delay: 1s;
}

.button{
	display: inline-block;
	padding: 15px 50px;
	font-size: 16px;
	background-color: #d1d1d1;
	color: #1E1E1F;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 0.3 ease;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	transition: all .5s ease-in-out;
	transform: scaleY(1);
}

.button:hover{
    background-color: #1E1E1F;
    color: #f2f4f5;
	transition: all 0.35s;
}