.buscador-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #fff;
	border-radius: 20px;
	padding: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 20%;
	margin-left: auto;
	margin-top: 10px;
	margin-right: 10px;
}


.Buscador{
	border: none;
	outline: none;
	flex-grow: 1;
	padding: 5px;
	border-radius: 30px;
}

.Buscador::placeholder{
	color: #A5A5A5;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.lupa-icono{
	width: 24px;
	height: 24px;
	margin-left: 5px;
}