/* SeguimientoVehiculos.css */
.seguimiento-vehiculos-container {
	font-family: 'Montserrat', sans-serif;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.seguimiento-vehiculos-title {
	font-size: 24px;
	margin-bottom: 20px;
}
  
.vehiculo-item {
	list-style: none;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px 0;
	border-radius: 4px;
	background-color: #f9f9f9;
}
  
.vehiculo-item h2 {
	font-size: 18px;
	margin: 0;
}
  
.vehiculo-item select {
	width: 20%;
	padding: 5px;
	margin-top: 5px;
	appearance: none;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	background-color: #bfbfc7;
	cursor: pointer;
	font-size: 14px;
	transition: border-color 0.3s, box-shadow 0.3s;
}

.vehiculo-item select option {
	font-size: 14px;
	padding: 5px;
	background-color: #f2f3f4;
}

.vehiculo-item select:focus {
	outline: none;
	border-color: #ad0c0c;
	box-shadow: 0 0 5px rgba(216, 0, 0, 0.5);
}

.volver-home-button {
    background-color: #1E1E1F;
    color: #f2f3f4;
    padding: 10px 20px;
    border: transparent solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
	font-family: 'Montserrat', sans-serif;
}

.volver-home-button:hover {
    background-color: #f2f3f4;
	color: #1E1E1F;
	font-weight: bold;
}

  